/* PasswordReset.css */

.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.password-reset-container form {
    background-color: rgb(10, 10, 10);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(53, 50, 50, 0.904);
    width: 100%;
    max-width: 400px;
}

.password-reset-container h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
}

.password-reset-container .input-box {
    position: relative;
    margin-bottom: 1.5rem;
}

.password-reset-container .input-box input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}



.password-reset-container .input-box .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-reset-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.password-reset-container button:hover {
    background-color: #515457;
}

.password-reset-container button[type="button"] {
    background-color: #6c757d;
}

.password-reset-container button[type="button"] {
    background-color: transparent; /* No background color */
    color: white; /* White font */
    border: none; /* Remove border */
}

.password-reset-container button[type="button"]:hover {
    color: rgba(255, 255, 255, 0.8); /* Slightly dim the white font on hover */
    background-color: transparent; /* Ensure no background on hover */
}
.password-reset-container .input-box {
    display: flex;
    align-items: center;
    position: relative;
}

.password-reset-container .input-box input {
    flex-grow: 1; /* Allow the input to take full width */
}

.password-reset-container .input-box .icon {
    margin-left: 100px; /* Adjust horizontal space between the icon and input */
    cursor: pointer;
}
